{% extends 'base.html' %}

{% load static %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'board_documents' board.pk %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">{{ subject.name }}</li>
{% endblock %}

{% block content %}
  {% if user.is_student %}
	<div class="mb-4">
    	<a href="{% url 'new_document' board.pk subject.pk %}" class="btn btn-primary">Want to Upload???</a>
  	</div>
  {% elif user.is_moderator %}
  <div class="mb-4">
      <a href="{% url 'review' board.pk subject.pk %}" class="btn btn-primary">Want to review??</a>
    </div>
  {% endif %}
    
  	<table class="table table-striped" style="text-align:center;">
    <thead class="thead-dark">
      <tr>
        <th>Name of the Document : </th>
        <th>Uploaded at : </th>
      </tr>
    </thead>

      <tbody>
    {% for obj in documents %}
      {%if obj.is_reviewed and obj.subject == subject %}
      <tr class="zone">
       <td> <a href="{{ obj.document.url }}">{{ obj.name }}</a></td>
       <td style="color:white;"> <small>{{ obj.uploaded_at }}</small></td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

  {% if documents.has_other_pages %}
    <nav aria-label="Documents pagination" class="mb-4">
      <ul class="pagination">
        {% if documents.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ documents.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
        {% endif %}

        {% for page_num in documents.paginator.page_range %}
          {% if documents.number == page_num %}
            <li class="page-item active">
              <span class="page-link">
                {{ page_num }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if documents.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ documents.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

{% endblock %}